export(GSEPD_INIT)
export(GSEPD_PCA_Plot)
export(GSEPD_PCA_Spec)
export(GSEPD_Process)
export(GSEPD_ProcessAll)
export(GSEPD_DEGHeatmap)
export(GSEPD_ChangeConditions)
export(GSEPD_ChangeOutput)
export(GSEPD_PullDEG)
export(GSEPD_Heatmap)
export(Name_to_RefSeq)
export(DisplayName)
export(GSEPD_Export_DESeq)

import(biomaRt)
import(DESeq2)
import(goseq)
import(GO.db)
import(org.Hs.eg.db)
import(AnnotationDbi)

importFrom(gplots, heatmap.2)
importFrom(SummarizedExperiment, assay)
importFrom(hash,hash)
importFrom(hash,values)

importFrom("grDevices", "colorRampPalette", "dev.off", "pdf", "png")
importFrom("graphics", "hist", "legend", "lines", "mtext", "pairs",
             "plot", "points", "text", "title")
importFrom("stats", "kmeans", "median", "prcomp", "relevel", "runif",
             "sd", "var")
importFrom("utils", "packageDescription", "read.csv", "write.csv",
             "write.table")

